<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testVideo</title>
</head>
<body>
<h1>video 테그 연습</h1>
<!-- <video src = "../resources/multi/video1.mp4" width = "480" height = "350" autoplay controls></video> -->
<video width = "480" height = "350" autoplay controls poster = "../resources/images/facebook.jpg">
	<source src="../resources/multi/video1.mp4" type ="video/mp4">
	<source src="../resources/multi/video1.ogv" type ="video/ogv">
	<source src="../resources/multi/video1.webm" type ="video/webm">
</video>
</body>
</html>